<div id="homeheader">
	<h1>Bedroom Mobile Home Page</h1>
</div>

<div class="homeBtn">
	<a href="/homepage"><img src="/static/images/destination.png" id="home_logo">Destinations</a>
</div>

<div class="homeBtn">
	<a href="/homepage"><img src="/static/images/calendar.png" id="home_logo">Trip planner</a>
</div>

<div class="homeBtn">
	<a href="/homepage"><img src="/static/images/electric.png" id="home_logo">
	                    <img src="/static/images/water.png" id="home_logo">
	                    <img src="/static/images/wifi.png" id="home_logo">Utilities</a>
</div>

<div id="toggleArea">
	<h3>Traveler is:</h3>
	<span class="state">Present</span>
	<label class="switch">
		<input type="checkbox">
		<span class="slider round"></span>
	</label>
	<span class="state">Absent</span>
</div>