<div class="container h-100">
  <div class="row h-20">
      <div class="col-3">
          Destination
      </div>
      <div class="col-auto">
          <span>
              Estimated Arrival:
          </span>
          <span>
              {{route.time}}
          </span>
      </div>
  </div>
  <!-- <div class="row h-80">
      <div id="TravelMap" class="col-6 border border-dark">
      </div>
      <div class="col-6 border border-dark">
          <div class="row">
              <div class="col-4">Next Destination:</div>
              <div class="col-8">{{route.stop}}</div>
          </div>
          <div class="row m-2">
              <div class="col-2"><button class="btn btn-primary">+</button></div>
              <div class="col-6">Add A Stop</div>
              <div class="col-4"><input type="number" placeholder="10"></div>
          </div>
          <div class="row m-2">
              <button class="btn btn-primary col-12">View Event Logs</button>
          </div>
          <div class="row m-2">
              <button class="btn btn-primary col-12">Adjust Utility Logs</button>
          </div>
          <div class="row m-2">
              <button class="btn btn-primary col-12">Adjust Preference Settings</button>
          </div>
          <div class="row m-2">
              <button class="btn btn-primary col-12">Cancel Trip</button>
          </div>
      </div>

  </div> -->
</div>
<!-- <link rel="stylesheet" href="https://js.arcgis.com/4.13/esri/themes/light/main.css" />
<script src="https://js.arcgis.com/4.13/"></script>
<script src="/static/MapUtils.js"></script>
<script src="/static/routePlotting.js"></script>
<script src="/static/tracking.js"></script>
<script>
    EnableTrackingMap("TravelMap");
</script> -->
